{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col-8">

    <h1> tweets!  </h1>
<br/>

    {% for tweet in tweets %}
    
        <div class="alert alert-dark" role="alert">
<div class="container">
    <div class="row">
        <div class="col-1">
            {% if Tweet.user.profile.profile_img %}
            <img src="{{ Tweet.user.rofile.profile_image.url }}"
            width="50px" height"50" class="rounded-circle ">

            {% else %}
            <img style="width: 50px; height: 50px; border-radius: 50% ;"
            src="{{ profile.profile_image.url  }}">
            {% endif %}
        </div>
        <div class="col-11">

            {{ tweet.body }}<br/>
            <small class="text-muted">
                {{ tweet.created_at}} By 
                @{{tweet.user.username}}
                - {{ tweet.number_of_likes }} Likes - 
                {% if user in tweet.likes.all  %}
                <a href="{% url 'tweet_like' tweet.id %}">UnLike</a>
                {% else %}
                <a href="{% url 'tweet_like' tweet.id %}">Like</a>
                {% endif %}


            </small>
        </div><br/><br/>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="col-4">
    <br/><br/><br/>
{% if form %}
<form method = POST>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary"> Post Tweet</button>
</form>
{% endif %}
</div>

{% endblock %}