{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Profile List </h1>
<br/>

{% if profiles %}
    {% for profile in profiles %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/none photo.png' %}" class="img-fluid rounded-start" alt="Profile Image ">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ profile.user.username }}
              </h5>
              <p class="card-text"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username }}
              </a></p>
              <br/><br/>
              <p class="card-text"><small class="text-body-secondary">
              Last Updated: {{ profile.date_modified }}</small>
              </p>
            </div>
          </div>
          <br/>
         

          <form method=POST>
            {% csrf_token %}
            {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-danger" name="follow"
                value="unfollow" type="submit">
                   Unfollow @{{profile.user.username}}
                </button>
            {% else %}
                <button class="btn btn-outline-success" name="follow"
                value="follow" type="submit">
                Follow @{{profile.user.username}}
                </button>
            {% endif %}

          </form>
          <br/>

        </div>
      </div>
      <br/><br/>
    {% endfor %}
{%endif%}

{% endblock %}